body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
}

.contenedor{
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: palevioletred; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;

}

.datos{
   
    background-color: palevioletred;
    border-radius: 8px;
    color: white;
    margin: 0 auto;
    height: 220px; 
    
    
}

.info{
    background-color: palevioletred
}

